body {
    margin: 0;
    --back: #1e1e2e;
    --fore: #89b4fa;
    background: var(--back);
}

.topbar {
    height: 50px;
    margin-inline: auto;
    margin-top: 5px;
    border-radius: 500px;
    width: calc(100% - 20px);
    background: var(--fore);
    display: flex;
    justify-content: center;
    padding: 5px 0;
    gap: 10px;
}

.generate {
    color: var(--fore);
    background: var(--back);
    width: 100px;
    border-radius: 500px;
    padding: 14px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.number_input {
    color: var(--fore);
    background: var(--back);
    border-radius: 500px;
    border: none;
    font-size: 18px;
    width: 100px;
    outline: none;
    text-align: center;
}

.dropdown {
    color: var(--fore);
    border-radius: 500px;
    border: none;
    font-size: 18px;
    padding: 0 50px;
    outline: none;
    text-align: center;
    background: var(--back);
}

.table {
    width: calc(100% - 20px - 18px);
    height: calc(100vh - 100px);
    margin-top: 10px;
    margin-inline: auto;
    border-radius: 10px;
    background: var(--back);
    border: 3px solid var(--fore);
    padding: 5px;
    display: flex;
    align-items: end;
    gap: 4px;
}

.bar {
    height: 100%;
    width: 50%;
    max-height: 0;
    border-radius: 100px 20px 20px 100px;
    background: var(--fore);
    transition: max-height .5s ease;
}
